<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to first website</h1>
    <form action="/analyse" method="get">
        <textarea name="text" style="width: 1169px; height: 143px;"></textarea><br>
        <input type="checkbox" name="removepunc">remove puncuation<br>
        <input type="checkbox" name="captialize">captialize<br>
        <input type="checkbox" name="charcount">character counter<br>
        <button type="submit">Analyse text my foot</button>
    </form>
</body>
</html>